@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--animation-direction, forwards);
  animation-duration: var(--animation-duration, 40s);
}
html {
  scroll-behavior: smooth;
}
